<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.common.base">

    <application>
        <activity
            android:name=".cash.activity.DefaultErrorActivity"
            android:process=":error_activity"
            android:theme="@style/CustomActivityOnCrashTheme" />
    </application>

</manifest>